@tailwind base;
@tailwind components;
@tailwind utilities;


[data-theme="dark"] a, [data-theme="dark"] h2 {
    color: #ffffff;
}
[data-theme="dark"] select {
    background: #2a303c;
}
[data-theme="dark"] .ais-SearchBox-input {
    color: #ffffff;
    background: #2a303c;
    box-shadow: 0 0 0 1px rgb(255 255 255 / 5%), 0 1px 3px 0 rgb(255 255 255 / 15%);
}
[data-theme="dark"] .ais-Hits-item {
    background: #2a303c;
    box-shadow: 0 0 0 1px rgb(255 255 255 / 5%), 0 1px 3px 0 rgb(255 255 255 / 15%);
}
[data-theme="dark"] .grid p {
    color: #999;
}
[data-theme="retro"] select {
    background: #e4d8b4;
}